$base-color: red;
$important-color: darken($base-color, 20%);
$warning-color: lighten($base-color, 20%);
$main-font: Arial;
$secondary-font: 'Courier New';
$shadow-box: -5px 10px 10px black;
$border-radius: 0;