$base-color: blue;
$important-color: darken($base-color, 20%);
$warning-color: lighten($base-color, 20%);
$main-font: Verdana, Geneva, Tahoma, sans-serif;
$secondary-font: monospace;
$shadow-box: 5px 10px 10px black;
$border-radius: 8px;